<div id="playTable">
    <div>
        <button id="top-left">{{topleft}}</button>
        <button id="top-mid">{{topmid}}</button>
        <button id="top-right">{{topright}}</button>
    </div>
    <div>
        <button id="middle-left"></button>
        <button id="middle-mid"></button>
        <button id="middle-right"></button>
    </div>
    <div>
        <button id="bottom-left"></button>
        <button id="bottom-mid"></button>
        <button id="bottom-right"></button>
    </div>
</div>